* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}
img {
  max-width: 100%;
}

.wrapper {
  margin: 0;
  overflow: hidden;
  position: relative;
}
.container {
  padding: 0 8.8%;
}
.section-title {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    283deg,
    rgba(255, 255, 255, 1) 34%,
    rgba(207, 232, 176, 1) 77%
  );
  padding: 22px 24px;
  color: #303030;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    color: #8bc63f;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
}
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.text {
  font-size: 16px;
  color: #303030;
}

.pre-header {
  padding: 10px 0;
  background-color: #f3f4f4;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-contact {
    display: flex;
    align-items: center;
    gap: 36px;
    .text {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .select-language-btn {
    display: flex;
    width: 227px;
    padding: 8px 12px;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    justify-content: space-between;
    .text {
      display: flex;
      align-items: center;
      gap: 3px;
    }
    i {
      font-size: 10px;
    }
  }
}

.banner {
  position: relative;
  height: 261px;
  background-color: #8bc63f;
  display: flex;
  align-items: center;
  &-heading {
    text-transform: uppercase;
    font-size: 84px;
    color: #fff;
    font-weight: 700;
    margin-left: 115px;
  }
  .bamboo-left {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .bamboo-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5%;
    left: 70%;
    width: 100%;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-rec {
      max-width: 100%;
      max-height: 100%;
      left: 0;
      bottom: 0;
      top: 0;
      position: absolute;
      object-fit: cover;
    }
  }
}
.header {
  background: #ffffff;
  /* Neutral/5 */
  padding: 16px 0;
  border-bottom: 1px solid #f3f4f4;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-bar {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 50%;
    height: 100%;
    input {
      padding-left: 16px;
      color: #000;
      background: rgba(227, 243, 228, 0.78);
      border-radius: 8px;
      height: 56px;
      width: 100%;
      font-size: 16px;
      border: none;
      outline: none;
    }

    .search-icon {
      width: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: 400;
      height: 56px;
      padding: 0 3px;
      border-radius: 8px;
      background-color: #8bc63f;
    }
  }

  .btns-wrap {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: space-between;
    .sign-in-btn {
      color: #727272;
      font-size: 18px;
    }
    .sign-up-btn {
      padding: 10px;
      background-color: #8bc63f;
      font-size: 18px;
      border-radius: 8px;
      color: #fff;
    }
    .cart-btn {
      cursor: pointer;
      img {
        width: 24px;
      }
      position: relative;
    }
    .cart-btn::after {
      position: absolute;
      border-radius: 100%;
      background-color: red;
      width: 20px;
      height: 20px;
      top: -19px;
      right: -16px;
      content: "3";
      font-size: 12px;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.categories {
  padding: 24px 0;
  border-bottom: 1px solid #f3f4f4;

  ul {
    display: flex;
    align-items: center;
    gap: 68px;
    li {
      font-size: 22px;
      line-height: 24px;
    }
    .dropdown {
      display: flex;
      align-items: center;
      gap: 6px;
      position: relative;
      cursor: pointer;
      z-index: 99;
      .sub-dropdown {
        position: absolute;
        top: 40px;
        transition: 0.2s ease;
        height: fit-content;
        left: 0;
        width: 150px;
        display: flex;
        opacity: 0;
        flex-direction: column;
        z-index: 0;
        font-size: 12px;
        font-weight: 400;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px 10px;
        padding-right: 30px;
        gap: 10px;

        li {
          width: 100%;
        }
      }
    }

    .dropdown:hover {
      .sub-dropdown {
        z-index: 99;
        opacity: 1;
      }
    }
    li {
    }
  }
}

.top-product {
  padding: 45px 0;
  background-color: #cfe8b0;
  margin-bottom: 87px;
  .top-product-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;

    .more {
      font-size: 18px;
      color: #000;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
  }

  &-list {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    img {
      object-fit: cover;
      max-width: 100%;
    }
    p {
      font-size: 14px;
      text-align: center;
    }
  }
}

.footer {
  padding: 36px 0 41px;
  background-color: #f3f4f4;
  .container {
    display: flex;
  }
  .right {
    width: calc(100% - 33.33333%);
    display: flex;
    justify-content: space-between;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 33.3333%;

    .footer-text {
      margin-left: 10px;
      color: #727272;
      font-size: 14px;
    }
    img {
    }
  }

  .logo-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .social-list {
    gap: 15px;
    display: flex;
    align-items: center;
  }
  img {
    max-width: 100%;
  }
  h2 {
    font-size: 16px;
    font-weight: 600;
    color: #303030;
  }
  ul {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    li {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .returns {
    display: flex;
    flex-direction: column;
    gap: 12px;
    p {
      font-size: 16px;
      font-weight: 600;
    }
    &-link,
    &-visit {
      display: flex;
      padding: 8px 24px;
      border-radius: 8px;
      background-color: #fff;
      align-items: center;
      justify-content: space-between;
    }
    img {
      margin-top: 12px;
    }
  }
}

.content {
  .list {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    margin-top: 34px;
    .item {
      width: calc(20% - 33px);
      img {
        width: 100%;
        max-width: 100%;
      }
      .name {
        margin-top: 14px;
        font-size: 20px;
        line-height: 28px;
      }
      .prices {
        justify-content: space-between;
        margin-top: 8px;
        display: flex;
        align-items: center;
      }
      .price {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
      }
      .contact {
        color: #0184d3;
        display: flex;
        align-items: center;
        gap: 3px;
      }
      .old-price {
        line-height: 28px;
        text-decoration: line-through;
        font-size: 14px;
        color: #959ead;
      }
    }
  }
}
.arrow-btn {
  display: flex;
  align-items: center;
  z-index: 99;
  gap: 18px;
  user-select: none;
  color: #8bc63f;
  cursor: pointer;
}
.slider {
  display: flex;
  overflow: scroll;
  gap: 20px;
  margin-top: 32px;
  margin-bottom: 60px;
  scroll-behavior: smooth;
  .item {
    width: 15%;
    flex: none;
    img {
      max-width: 100%;
    }
  }
}
.slider::-webkit-scrollbar {
  display: none;
}

//pc

/* mobile */

@media screen and (max-width: 767.98px) {
  .pre-header {
    &-contact {
      flex-direction: column;
      display: flex;
      align-items: unset;
      gap: 5px;
      .text {
        font-size: 12px;
      }
    }
    .select-language-btn {
      width: 140px;
      .text {
        font-size: 12px;
      }
    }
    .container {
    }
  }
  .banner {
    height: 122px;
    &-heading {
      font-size: 20px;
      margin-left: 30px;
    }
    /* .bamboo-right {
      left: 300px;
    } */
  }

  .header {
    .container {
      flex-direction: column;
      gap: 20px;
    }
    .search-bar {
      width: 100%;
    }
  }
  .categories {
    .container {
      ul {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
      }
    }
  }
  .slider {
    .item {
      width: 30%;
    }
  }
  .section-title {
    h1 {
      font-size: 18px;
    }
    .more {
      font-size: 18px;
    }
  }
  .content {
    .list {
      gap: 20px;
      column-gap: 20px;
      justify-content: space-between;
      .item {
        width: 45%;
        .price {
          font-size: 10px;
        }
        .old-price {
          font-size: 8px;
        }
        .name {
          font-size: 15px;
        }
      }
    }
  }

  .top-product-list {
    p {
      font-size: 9px;
    }
  }
  .footer {
    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .left,
      .right {
        width: 100%;
        max-width: 100%;
      }
      .logo-list {
        flex-wrap: wrap;
        justify-content: center;
      }
      .right {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .d-flex {
        width: 100%;
      }
    }
  }
  .categories {
    ul {
      gap: 8px;
    }
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .section-title {
    h1 {
      font-size: 18px;
    }
    .more {
      font-size: 18px;
    }
  }
  .header {
    .btns-wrap {
      gap: 18px;
    }
  }
  .content {
    .list {
      gap: 5px;
      justify-content: space-between;
      .item {
        width: calc(25% - 10px);
        .price {
          font-size: 12px;
        }
        .old-price {
          font-size: 10px;
        }
        .name {
          font-size: 15px;
        }
      }
    }
  }

  .top-product-list {
    flex-wrap: wrap;
    .top-product-item {
      width: 20%;
    }
  }
  .banner {
    &-heading {
      margin-left: 84px;
      font-size: 35px;
    }
    /* .bamboo-right{
        left: 580px;
    } */
  }
  .categories {
    ul {
      gap: 15px;
      li {
        font-size: 13px;
      }
    }
  }
  .footer {
    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .left,
      .right {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

/* mobile & tablet */

@media screen and (max-width: 1023.98px) {
  .top-product-list {
    flex-wrap: wrap;
    .top-product-item {
      width: 20%;
    }
  }
}

//small pc
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .banner {
    &-heading {
      font-size: 45px;
    }
  }
  .categories{

  }
  .categories {
    ul {
      gap: 50px;
      li{
        font-size: 16px;
      }
    }
  }

  .content {
    .list {
      gap: 15px;

      .item {
        width: calc(25% - 15px);
        .name {
          font-size: 18px;
        }
        .price {
          font-size: 16px;
        }

        .old-price {
          font-size: 12px;
        }
      }
    }
  }

  .footer {
    .logo-list {
      img {
        width: 50px;
      }
    }
  }
}
